/* default css */
.custom-navbar.top-nav-collapse .logo a, .custom-navbar.top-nav-collapse .main-menu ul.navbar-nav li.active a, .welcome-area .home-arrow a, .modal-body h3, .project-list li a, .single-stat h2, .contact-form .form-group i.fa, .post-meta span:hover, .widget.category li a:hover, .widget.category li:before, .breadcroumb .active, .comment-reply-link, .service-overlay.text-left li i, .stat-content h4, .widget .social-links a:hover, .welcome-text h2, .social-links a:hover, .icon, .pricing-area .price, .about-text-area .owl-nav div:hover, .read-more-btn{
    color: #18ba60;
}
.about-text h2 span, .testimonial-area .first-part, .contact-info-area .first-part, .services-area .second-part, .work-area .second-part, .about-area .second-part{
    color: #18ba60;
}
.about-area .progress .progress-bar, .about-area .progress .progress-bar span, .hover-content a, .testimonial-area .owl-dots div.active, .btn.btn-sent, .info-icon, .cta-area a, .pagination ul li:hover a, .pagination ul li.active a, .search-form button[type="submit"], .widget.tags a:hover, .btn-comment, .service-list .owl-dots div.active, ul.work-list li.active, .section-title h2::after, .widget-title, .about-text-area .owl-dots div.active, .logo-carousel .owl-dots div.active, .box.middle .price-box-header, .pricing-area a {
    background-color: #18ba60;
}
.testimonial-area .owl-dots div.active, ul.work-list li.active, .widget .social-links a:hover, .logo-carousel .owl-dots div.active{
    border: 1px solid #18ba60;
}
.widget .social-links a:hover{
    background-color: transparent;
}
.about-btn a:hover, .about-btn a.btn-black:hover{
    background-color: #18ba60;
    border: 2px solid #18ba60;
    color: #fff;
}
.widget.social .social-links a:hover{
    border: 1px solid #18ba60;
    color: #18ba60;
}
.tab .nav-tabs li.active > a, .tab .nav-tabs li.active > a:focus, .tab .nav-tabs li.active > a:hover {
    border-bottom: 2px solid #18ba60;
    color:#18ba60;
}
.single-post-details blockquote{
    border-left:  5px solid #18ba60;
}
.item-hover:before{
    border:  5px solid #18ba60;
}
.cta-area a:hover, .btn.btn-sent:hover, .search-form button[type="submit"]:hover, .btn-comment:hover, .hover-content a:hover, .pricing-area a:hover, .pricing-area a:hover{
    background-color: #222;
    color: #fff;
}

.comment-reply-link:hover, .project-list li a:hover, .read-more-btn:hover{
    color: #222;
}
 @media only screen and (max-width: 767px) {
     .custom-navbar .logo a {
         color: #18ba60;
     }
 }
 

/* color_1_theme */
.color_1_theme .custom-navbar.top-nav-collapse .logo a, .color_1_theme .custom-navbar.top-nav-collapse .main-menu ul.navbar-nav li.active a, .color_1_theme .welcome-area .home-arrow a, .color_1_theme .modal-body h3, .color_1_theme .project-list li a, .color_1_theme .single-stat h2, .color_1_theme .contact-form .form-group i.fa, .color_1_theme .post-meta span:hover, .color_1_theme .widget.category li a:hover, .color_1_theme .widget.category li:before, .color_1_theme .breadcroumb .active, .color_1_theme .comment-reply-link, .color_1_theme .read-more-btn, .color_1_theme .about-margin-top .second-part, .color_1_theme .pricing-area .second-part, .color_1_theme .logo-carousel-area .second-part, .color_1_theme .service-overlay.text-left li i, .color_1_theme .stat-content h4, .color_1_theme .widget .social-links a:hover, .color_1_theme .welcome-text h2, .color_1_theme .social-links a:hover, .color_1_theme .icon, .color_1_theme .pricing-area .price, .color_1_theme .about-text-area .owl-nav div:hover{
    color: #18ba60;
}
.color_1_theme .about-text h2 span, .color_1_theme .testimonial-area .first-part, .color_1_theme .contact-info-area .first-part, .color_1_theme .services-area .second-part, .color_1_theme .work-area .second-part, .color_1_theme .about-area .second-part{
    color: #18ba60;
}
.color_1_theme .about-area .progress .progress-bar, .color_1_theme .about-area .progress .progress-bar span, .color_1_theme .hover-content a, .color_1_theme .testimonial-area .owl-dots div.active, .color_1_theme .btn.btn-sent, .color_1_theme .info-icon, .color_1_theme .cta-area a, .color_1_theme .pagination ul li:hover a, .color_1_theme .pagination ul li.active a, .color_1_theme .search-form button[type="submit"], .color_1_theme .widget.tags a:hover, .color_1_theme .btn-comment, .color_1_theme .service-list .owl-dots div.active, .color_1_theme ul.work-list li.active, .color_1_theme .section-title h2::after, .color_1_theme .widget-title, .color_1_theme .about-text-area .owl-dots div.active, .color_1_theme .logo-carousel .owl-dots div.active, .color_1_theme .box.middle .price-box-header, .color_1_theme .pricing-area a {
    background-color: #18ba60;
}
.color_1_theme .testimonial-area .owl-dots div.active, .color_1_theme ul.work-list li.active, .color_1_theme .widget .social-links a:hover, .color_1_theme .logo-carousel .owl-dots div.active{
    border: 1px solid #18ba60;
}
.color_1_theme .widget .social-links a:hover{
    background-color: transparent;
}
.color_1_theme .about-btn a:hover, .color_1_theme .about-btn a.btn-black:hover{
    background-color: #18ba60;
    border: 2px solid #18ba60;
    color: #fff;
}
.color_1_theme .widget.social .social-links a:hover{
    border: 1px solid #18ba60;
    color: #18ba60;
}
.color_1_theme .tab .nav-tabs li.active > a, .color_1_theme .tab .nav-tabs li.active > a:focus, .color_1_theme .tab .nav-tabs li.active > a:hover {
    border-bottom: 2px solid #18ba60;
    color:#18ba60;
}
.color_1_theme .single-post-details blockquote{
    border-left:  5px solid #18ba60;
}
.color_1_theme .item-hover:before{
    border:  5px solid #18ba60;
}
.color_1_theme .cta-area a:hover, .color_1_theme .btn.btn-sent:hover, .color_1_theme .search-form button[type="submit"]:hover, .color_1_theme .btn-comment:hover, .color_1_theme .hover-content a:hover, .color_1_theme .pricing-area a:hover, .color_1_theme .pricing-area a:hover{
    background-color: #222;
    color: #fff;
}

.color_1_theme .comment-reply-link:hover, .color_1_theme .project-list li a:hover, .color_1_theme .read-more-btn:hover{
    color: #222;
}
 @media only screen and (max-width: 767px) {
     .color_1_theme .custom-navbar .logo a {
         color: #18ba60;
     }
 }

/* color_2_theme */
.color_2_theme .custom-navbar.top-nav-collapse .logo a, .color_2_theme .custom-navbar.top-nav-collapse .main-menu ul.navbar-nav li.active a, .color_2_theme .welcome-area .home-arrow a, .color_2_theme .modal-body h3, .color_2_theme .project-list li a, .color_2_theme .single-stat h2, .color_2_theme .contact-form .form-group i.fa, .color_2_theme .post-meta span:hover, .color_2_theme .widget.category li a:hover, .color_2_theme .widget.category li:before, .color_2_theme .breadcroumb .active, .color_2_theme .comment-reply-link, .color_2_theme .read-more-btn, .color_2_theme .about-margin-top .second-part, .color_2_theme .pricing-area .second-part, .color_2_theme .logo-carousel-area .second-part, .color_2_theme .service-overlay.text-left li i, .color_2_theme .stat-content h4, .color_2_theme .widget .social-links a:hover, .color_2_theme .welcome-text h2, .color_2_theme .social-links a:hover, .color_2_theme .icon, .color_2_theme .pricing-area .price, .color_2_theme .about-text-area .owl-nav div:hover{
    color: #2196F4;
}
.color_2_theme .about-text h2 span, .color_2_theme .testimonial-area .first-part, .color_2_theme .contact-info-area .first-part, .color_2_theme .services-area .second-part, .color_2_theme .work-area .second-part, .color_2_theme .about-area .second-part{
    color: #2196F4;
}
.color_2_theme .about-area .progress .progress-bar, .color_2_theme .about-area .progress .progress-bar span, .color_2_theme .hover-content a, .color_2_theme .testimonial-area .owl-dots div.active, .color_2_theme .btn.btn-sent, .color_2_theme .info-icon, .color_2_theme .cta-area a, .color_2_theme .pagination ul li:hover a, .color_2_theme .pagination ul li.active a, .color_2_theme .search-form button[type="submit"], .color_2_theme .widget.tags a:hover, .color_2_theme .btn-comment, .color_2_theme .service-list .owl-dots div.active, .color_2_theme ul.work-list li.active, .color_2_theme .section-title h2::after, .color_2_theme .widget-title, .color_2_theme .about-text-area .owl-dots div.active, .color_2_theme .logo-carousel .owl-dots div.active, .color_2_theme .box.middle .price-box-header, .color_2_theme .pricing-area a {
    background-color: #2196F4;
}
.color_2_theme .testimonial-area .owl-dots div.active, .color_2_theme ul.work-list li.active, .color_2_theme .widget .social-links a:hover, .color_2_theme .logo-carousel .owl-dots div.active{
    border: 1px solid #2196F4;
}
.color_2_theme .widget .social-links a:hover{
    background-color: transparent;
}
.color_2_theme .about-btn a:hover, .color_2_theme .about-btn a.btn-black:hover{
    background-color: #2196F4;
    border: 2px solid #2196F4;
    color: #fff;
}
.color_2_theme .widget.social .social-links a:hover{
    border: 1px solid #2196F4;
    color: #2196F4;
}
.color_2_theme .tab .nav-tabs li.active > a, .color_2_theme .tab .nav-tabs li.active > a:focus, .color_2_theme .tab .nav-tabs li.active > a:hover {
    border-bottom: 2px solid #2196F4;
    color:#2196F4;
}
.color_2_theme .single-post-details blockquote{
    border-left:  5px solid #2196F4;
}
.color_2_theme .item-hover:before{
    border:  5px solid #2196F4;
}
.color_2_theme .cta-area a:hover, .color_2_theme .btn.btn-sent:hover, .color_2_theme .search-form button[type="submit"]:hover, .color_2_theme .btn-comment:hover, .color_2_theme .hover-content a:hover, .color_2_theme .pricing-area a:hover, .color_2_theme .pricing-area a:hover{
    background-color: #222;
    color: #fff;
}

.color_2_theme .comment-reply-link:hover, .color_2_theme .project-list li a:hover, .color_2_theme .read-more-btn:hover{
    color: #222;
}
 @media only screen and (max-width: 767px) {
     .color_2_theme .custom-navbar .logo a {
         color: #2196F4;
     }
 }


/* color_3_theme */
.color_3_theme .custom-navbar.top-nav-collapse .logo a, .color_3_theme .custom-navbar.top-nav-collapse .main-menu ul.navbar-nav li.active a, .color_3_theme .welcome-area .home-arrow a, .color_3_theme .modal-body h3, .color_3_theme .project-list li a, .color_3_theme .single-stat h2, .color_3_theme .contact-form .form-group i.fa, .color_3_theme .post-meta span:hover, .color_3_theme .widget.category li a:hover, .color_3_theme .widget.category li:before, .color_3_theme .breadcroumb .active, .color_3_theme .comment-reply-link, .color_3_theme .read-more-btn, .color_3_theme .about-margin-top .second-part, .color_3_theme .pricing-area .second-part, .color_3_theme .logo-carousel-area .second-part, .color_3_theme .service-overlay.text-left li i, .color_3_theme .stat-content h4, .color_3_theme .widget .social-links a:hover, .color_3_theme .welcome-text h2, .color_3_theme .social-links a:hover, .color_3_theme .icon, .color_3_theme .pricing-area .price, .color_3_theme .about-text-area .owl-nav div:hover{
    color: #ffc814;
}
.color_3_theme .about-text h2 span, .color_3_theme .testimonial-area .first-part, .color_3_theme .contact-info-area .first-part, .color_3_theme .services-area .second-part, .color_3_theme .work-area .second-part, .color_3_theme .about-area .second-part{
    color: #ffc814;
}
.color_3_theme .about-area .progress .progress-bar, .color_3_theme .about-area .progress .progress-bar span, .color_3_theme .hover-content a, .color_3_theme .testimonial-area .owl-dots div.active, .color_3_theme .btn.btn-sent, .color_3_theme .info-icon, .color_3_theme .cta-area a, .color_3_theme .pagination ul li:hover a, .color_3_theme .pagination ul li.active a, .color_3_theme .search-form button[type="submit"], .color_3_theme .widget.tags a:hover, .color_3_theme .btn-comment, .color_3_theme .service-list .owl-dots div.active, .color_3_theme ul.work-list li.active, .color_3_theme .section-title h2::after, .color_3_theme .widget-title, .color_3_theme .about-text-area .owl-dots div.active, .color_3_theme .logo-carousel .owl-dots div.active, .color_3_theme .box.middle .price-box-header, .color_3_theme .pricing-area a {
    background-color: #ffc814;
}
.color_3_theme .testimonial-area .owl-dots div.active, .color_3_theme ul.work-list li.active, .color_3_theme .widget .social-links a:hover, .color_3_theme .logo-carousel .owl-dots div.active{
    border: 1px solid #ffc814;
}
.color_3_theme .widget .social-links a:hover{
    background-color: transparent;
}
.color_3_theme .about-btn a:hover, .color_3_theme .about-btn a.btn-black:hover{
    background-color: #ffc814;
    border: 2px solid #ffc814;
    color: #fff;
}
.color_3_theme .widget.social .social-links a:hover{
    border: 1px solid #ffc814;
    color: #ffc814;
}
.color_3_theme .tab .nav-tabs li.active > a, .color_3_theme .tab .nav-tabs li.active > a:focus, .color_3_theme .tab .nav-tabs li.active > a:hover {
    border-bottom: 2px solid #ffc814;
    color:#ffc814;
}
.color_3_theme .single-post-details blockquote{
    border-left:  5px solid #ffc814;
}
.color_3_theme .item-hover:before{
    border:  5px solid #ffc814;
}
.color_3_theme .cta-area a:hover, .color_3_theme .btn.btn-sent:hover, .color_3_theme .search-form button[type="submit"]:hover, .color_3_theme .btn-comment:hover, .color_3_theme .hover-content a:hover, .color_3_theme .pricing-area a:hover, .color_3_theme .pricing-area a:hover{
    background-color: #222;
    color: #fff;
}

.color_3_theme .comment-reply-link:hover, .color_3_theme .project-list li a:hover, .color_3_theme .read-more-btn:hover{
    color: #222;
}
 @media only screen and (max-width: 767px) {
     .color_3_theme .custom-navbar .logo a {
         color: #ffc814;
     }
 }


/* color_4_theme */
.color_4_theme .custom-navbar.top-nav-collapse .logo a, .color_4_theme .custom-navbar.top-nav-collapse .main-menu ul.navbar-nav li.active a, .color_4_theme .welcome-area .home-arrow a, .color_4_theme .modal-body h3, .color_4_theme .project-list li a, .color_4_theme .single-stat h2, .color_4_theme .contact-form .form-group i.fa, .color_4_theme .post-meta span:hover, .color_4_theme .widget.category li a:hover, .color_4_theme .widget.category li:before, .color_4_theme .breadcroumb .active, .color_4_theme .comment-reply-link, .color_4_theme .read-more-btn, .color_4_theme .about-margin-top .second-part, .color_4_theme .pricing-area .second-part, .color_4_theme .logo-carousel-area .second-part, .color_4_theme .service-overlay.text-left li i, .color_4_theme .stat-content h4, .color_4_theme .widget .social-links a:hover, .color_4_theme .welcome-text h2, .color_4_theme .social-links a:hover, .color_4_theme .icon, .color_4_theme .pricing-area .price, .color_4_theme .about-text-area .owl-nav div:hover{
    color: #18ba60;
}
.color_4_theme .about-text h2 span, .color_4_theme .testimonial-area .first-part, .color_4_theme .contact-info-area .first-part, .color_4_theme .services-area .second-part, .color_4_theme .work-area .second-part, .color_4_theme .about-area .second-part{
    color: #18ba60;
}
.color_4_theme .about-area .progress .progress-bar, .color_4_theme .about-area .progress .progress-bar span, .color_4_theme .hover-content a, .color_4_theme .testimonial-area .owl-dots div.active, .color_4_theme .btn.btn-sent, .color_4_theme .info-icon, .color_4_theme .cta-area a, .color_4_theme .pagination ul li:hover a, .color_4_theme .pagination ul li.active a, .color_4_theme .search-form button[type="submit"], .color_4_theme .widget.tags a:hover, .color_4_theme .btn-comment, .color_4_theme .service-list .owl-dots div.active, .color_4_theme ul.work-list li.active, .color_4_theme .section-title h2::after, .color_4_theme .widget-title, .color_4_theme .about-text-area .owl-dots div.active, .color_4_theme .logo-carousel .owl-dots div.active, .color_4_theme .box.middle .price-box-header, .color_4_theme .pricing-area a {
    background-color: #18ba60;
}
.color_4_theme .testimonial-area .owl-dots div.active, .color_4_theme ul.work-list li.active, .color_4_theme .widget .social-links a:hover, .color_4_theme .logo-carousel .owl-dots div.active{
    border: 1px solid #18ba60;
}
.color_4_theme .widget .social-links a:hover{
    background-color: transparent;
}
.color_4_theme .about-btn a:hover, .color_4_theme .about-btn a.btn-black:hover{
    background-color: #18ba60;
    border: 2px solid #18ba60;
    color: #fff;
}
.color_4_theme .widget.social .social-links a:hover{
    border: 1px solid #18ba60;
    color: #18ba60;
}
.color_4_theme .tab .nav-tabs li.active > a, .color_4_theme .tab .nav-tabs li.active > a:focus, .color_4_theme .tab .nav-tabs li.active > a:hover {
    border-bottom: 2px solid #18ba60;
    color:#18ba60;
}
.color_4_theme .single-post-details blockquote{
    border-left:  5px solid #18ba60;
}
.color_4_theme .item-hover:before{
    border:  5px solid #18ba60;
}
.color_4_theme .cta-area a:hover, .color_4_theme .btn.btn-sent:hover, .color_4_theme .search-form button[type="submit"]:hover, .color_4_theme .btn-comment:hover, .color_4_theme .hover-content a:hover, .color_4_theme .pricing-area a:hover, .color_4_theme .pricing-area a:hover{
    background-color: #222;
    color: #fff;
}

.color_4_theme .comment-reply-link:hover, .color_4_theme .project-list li a:hover, .color_4_theme .read-more-btn:hover{
    color: #222;
}
 @media only screen and (max-width: 767px) {
     .color_4_theme .custom-navbar .logo a {
         color: #18ba60;
     }
 }